@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/Bebas_Neue/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/Lobster-Regular.woff2') format('woff2'),
        url('../fonts/Lobster/Lobster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-box{
	padding-top: 2rem;
}
.result1 {
	margin-bottom: 0;
	margin-top: 3rem;
	font-family: 'Open Sans';
}
.result2 {
	margin-bottom: 0;
	margin-top: 3rem;
	font-family: 'Lobster';
}
.result3 {
	margin-bottom: 0;
	margin-top: 3rem;
	font-family: 'Lato';
}
.result4 {
	margin-bottom: 0;
	margin-top: 3rem;
	font-family: 'Bebas Neue';
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

