.header {
	font-style: 24px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.header span {
	display: block;
	line-height: 1.5;
}
.header strong {
	font-weight: 900;
}
.video{
	margin-bottom: 20px;
}

.form {
	padding: 45px 20px;
	height: 315px;
	border: 5px solid rgb(71,44,195) 
}

.form-header {
	font-style: 50px;
	font-weight: 900;
}

.form input {
	margin-bottom: 15px; 
}

.form-btn {
	margin-top: 20px;
	background-color: rgb(71,44,195);
}

.feature-header {
	margin-top: 100px;
	font-style: 24px;
	font-weight: 900;
}

.feature-box {
	margin:50px auto;
}
.feature-box img {
	margin: 30px auto;
	height: 100px;
	width: 100px;
}

.feature-box p {
	font-style: 16px;
	font-weight: 900;
}

.feature-btn{
	text-align: center;
	margin-top: 50px;
	background-color: rgb(71,44,195);
}

.clients-header {
	margin: 50px auto;
	font-style: 24px;
	font-weight: 900;
}

.clients-img img {
	margin-bottom: 30px;
	height: 200px;
	width: 200px;
}