* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
	text-align: center;
}

.header {
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
}

.header span {
	font-weight: 600px;
	display: block;
}

.header strong {
	font-weight: 900px;
	text-transform: uppercase;
}
.main {
	margin: 80px auto;
}

.video,.form {
	display: inline-block;
}

.form {
	text-align: center;
	margin-left: 30px;
	height: 315px;
	width: 350px;
	border: 2px solid rgb(39,39,217);
	vertical-align: top;
	padding: 20px;
}

.form-header {
	font-weight: 900;
	font-size: 24px;
	margin: 20px;
	text-align: center;
}

.form input {
	font-size: 18px;
	display: block;
	width: 300px;
	height: 40px;
	padding: 15px;
	margin: 10px auto;
	align-content: center;
}

.form-btn{
	margin-top: 20px;
	font-size: 18px;
	border: none;
	height: 40px;
	width: 300px;
	color: white;
	background-color: rgb(39,39,217);
}


.header-2 {
	margin-top: 100px;
	font-style: 24px;
	font-weight: 900;
	text-transform: uppercase;
}

.col {
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 60px 80px;
}
.feature-btn{
	margin-top: 80px;
	font-size: 18px;
	border: none;
	height: 40px;
	width: 300px;
	color: white;
	background-color: rgb(39,39,217);
}

.header-3 {
	margin-top: 100px;
	margin-bottom: 60px;
	font-style: 24px;
	font-weight: 900;
	text-transform: uppercase;
}
.client {
	margin:30px 25px;
	height: 200px;
	width: 200px;
	display: inline-block;
} 